@page
@model IndexModel
@{
    ViewData["Title"] = "Conecta 4";
}

<div class="text-center">
    <h1 class="display-4">Conecta 4</h1>

    

    <div class="parent">
        <div class="div1">1</div>
        <div class="div2">2</div>
        <div class="div3">3</div>
        <div class="div4">4</div>
        <div class="div5">5</div>
        <div class="div6">6</div>
        <div class="div7">7</div>
        <div class="div8">8</div>
        <div class="div9">9</div>
        <div class="div10">10</div>
        <div class="div11">11</div>
        <div class="div12">12</div>
        <div class="div13">13</div>
        <div class="div14">14</div>
        <div class="div15">15</div>
        <div class="div16">16</div>
        <div class="div17">17</div>
        <div class="div18">18</div>
        <div class="div19">19</div>
        <div class="div20">20</div>
        <div class="div21">21</div>
        <div class="div22">22</div>
        <div class="div23">23</div>
        <div class="div24">24</div>
        <div class="div25">25</div>
        <div class="div26">26</div>
        <div class="div27">27</div>
        <div class="div28">28</div>
        <div class="div29">29</div>
        <div class="div30">30</div>
        <div class="div31">31</div>
        <div class="div32">32</div>
        <div class="div33">33</div>
        <div class="div34">34</div>
        <div class="div35">35</div>
        <div class="div36">36</div>
        <div class="div37">37</div>
        <div class="div38">38</div>
        <div class="div39">39</div>
        <div class="div40">40</div>
        <div class="div41">41</div>
        <div class="div42">42</div>
    </div>
    <br />
    <div class="parent">
        <div class="col1">BTN1</div>
        <div class="col2">BTN2</div>
        <div class="col3">BTN3</div>
        <div class="col4">BTN4</div>
        <div class="col5">BTN5</div>
        <div class="col6">BTN6</div>
        <div class="col7">BTN7</div>
    </div>

</div>
